:root {
    --blue--: rgb(25, 25, 145);
    --light-blue--: rgb(116, 159, 207);
    --light-blue2--: rgb(218, 225, 250);
    --rodape-color--: #333;

}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--blue--) 0, var(--blue--) 50%, var(--light-blue--) 50%);
    font-family: 'Roboto', sans-serif;
}



input {
    margin: 15px;
    width: 60%;
    border: 1px solid rgb(229, 229, 245);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: var(--light-blue--);
    padding: 5px;
}

input:focus {
    outline: none;
}

.layout-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50rem;
    height: 30rem;
}

.login {
    background: white;
    width: 50%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-logar {
    background: var(--blue--);
    padding: 10px 35px;
    color: white;
    border: none;
}

.infos {
    background: var(--light-blue2--);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    background: var(--rodape-color--);
    text-align: center;
    padding: 5px;
    font-size: 15px;
}